 
#button{
    width: 90px;
    height: 40px;
    background-color: gray;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    margin-left: 50%;
    margin-top: 40%;
}
#canvas{
    margin-left: 35%  ;
    margin-top:25% ;
    margin-bottom: -39%;
}
@media screen and (max-width:1244px){
    #canvas{
    margin-left: -5%;
    }
}
@media screen and (max-width:1120px){
    #canvas{
        margin-left: -13%;
    }
}